@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.shopee {
    background: #e9572a;
}

.shopee-border {
    border-color: #e9572a;
}

.shopee-text {
    color: #e9572a;
}
.dana {
    background: #108EE9;
}

.dana-border {
    border-color: #108EE9;
}

.dana-text {
    color: #108EE9;
}
